@using Grpc.Net.Client
@using N8GrpcPrac
@page "/grpcdemo"
@inject GrpcDemoBiz bizSvc

<h3>gRPC Basic Demo</h3>

<InputText @bind-Value=name class="form-control mt-2" placeholder="名稱" />
<button class="btn btn-primary" @onclick="HandleHello">哈囉</button>
<button class="btn btn-primary" @onclick="HandleGetWeatherForecast">取天氣</button>

<p role="status">gRPCHostAddress: @bizSvc.gRPCHostAddress</p>
<p role="status">Hello → @helloReply?.Message</p>
<p role="status">Weather →</p>
<dl>
  <dt>City</dt>
  <dd>@weatherForecast?.City</dd>
  <dt>Date</dt>
  <dd>@weatherForecast?.Date</dd>
  <dt>TemperatureC</dt>
  <dd>@weatherForecast?.TemperatureC</dd>
  <dt>TemperatureF</dt>
  <dd>@weatherForecast?.TemperatureF</dd>
  <dt>Summary</dt>
  <dd>@weatherForecast?.Summary</dd>
</dl>

@if (!String.IsNullOrWhiteSpace(errMsg))
{
  <div class="alert alert-danger" role="alert">
    @errMsg
  </div>
}

@code {
  HelloReply? helloReply = null;
  WeatherForecast? weatherForecast = null;
  string? errMsg = null;
  string name = "甄美麗";
  bool f_loading = false;

  async Task HandleHello()
  {
    try
    {
      errMsg = null;
      f_loading = true;

      var request = new HelloRequest { Name = name };
      helloReply = await bizSvc.SayHelloAsync(request);
    }
    catch(Exception ex)
    {
      errMsg = "出現例外！" + ex.Message;
    }
    finally
    {
      f_loading = false;
    }
  }

  async Task HandleGetWeatherForecast()
  {
    try
    {
      errMsg = null;
      f_loading = true;

      weatherForecast = await bizSvc.GetWeatherForecastAsync();
    }
    catch (Exception ex)
    {
      errMsg = "出現例外！" + ex.Message;
    }
    finally
    {
      f_loading = false;
    }
  }

  
}
